@font-face {
  font-family: Nunito-Regular;
  src: url("@/assets/fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: Nunito-Bold;
  src: url("@/assets/fonts/nunito/Nunito-Bold.ttf");
}