@import 'base';
@import "element-reset";
@import 'fonts';
@import 'mapbox-map';


.container {
  width: 100%;
  margin: auto;

  @screen xs {
    width: 100%;
  }
  @screen sm {
    width: 540px;
  }
  @screen md {
    width: 720px;
  }
  @screen lg {
    width: 960px;
  }
  @screen xl {
    width: 1140px;
  }
  @screen xxl {
    width: 1320px;
  }
}

:root {
  --scrollbar-width: 10px;
  --scrollbar-height: 4px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(var(--scrollbar-height));
}

::-webkit-scrollbar-thumb {
   @apply bg-primary rounded-[5px];
}

::-webkit-scrollbar-track {
  margin-block: 5px;
}

.container-fluid {
    width: 100%;
}
