@import 'base';
@import "element-reset";
@import 'fonts';


.container {
  width: 100%;
  margin: auto;

  @screen xs {
    width: 100%;
  }
  @screen sm {
    width: 540px;
  }
  @screen md {
    width: 720px;
  }
  @screen lg {
    width: 960px;
  }
  @screen xl {
    width: 1140px;
  }
  @screen xxl {
    width: 1320px;
  }
}

.container-fluid {
    width: 100%;
}
